#root {
  max-width: 1280px;
  min-width: 90dvw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.todo-input {
  color: #2e5077;
  padding-left: 0.5em;
}

.todo-submit {
  margin-top: 1em;
}

.list-todos {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.todo-item {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em;
  border: 1px solid #e2e8f0;
  transition: all 0.5s;
}

.todo-item:hover {
  background-color: #2e5077;
  border-color: #ffa630;
}

.todo-item button {
  justify-self: center;
}

@media (min-width: 768px) {
  #root {
    min-width: 500px;
  }
}
